 #header{
     background: url(../images/img-3.png) no-repeat center;
      background-repeat: no-repeat;
      background-size: cover;

     animation: fadein 4s;
     -moz-animation: fadein 4s; /* Firefox */
     -webkit-animation: fadein 4s; /* Safari et Chrome */
     -o-animation: fadein 4s; /* Opera */
} 

    #header .contentHeader div {
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

#header .contentHeader .title {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Arvo', serif;
    color: white;
    text-align: center;
    font-size: 3em;
}

 /*Apparition progressive*/
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* sur Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}





/*PROFIL*/
  #profil
  {
      padding-top:2em;
      text-align: center;

  }
    #profil .contentProfil{
        padding-top: 10px;
    }
     #profil a
  {
     text-decoration: none;
     color:black;
     font-weight: 200;
  font-family: 'Montserrat', sans-serif;
      
  }
      #profil h1
  {
      font-family: 'Arvo', serif;
  }
  
     .part-2{
        border-left: 2px solid black;
    } 
#photo{
    width:20%;
    height: auto;
    border-radius: 50%;
    
}
 #profil p {
font-family: 'Montserrat', sans-serif;
 }

 
/*Cercle de compétences*/

#skills{
text-align: center;
}
.text{
    display: none;
}


/*Full screen*/
#content{
    position: relative;
    overflow: hidden;
}
#contentDiagram{
    position: relative;  display: inline-block;
}
#diagram {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
svg{
    position: relative;
}


@media only screen and (max-width: 720px) {
  
    #contentDiagram{
        width: 300px;
        height: 300px;
    }
    svg{
        transform: scale(0.5);
    }
   
}

@media only screen and (min-width: 721px) {
    
      #contentDiagram{
          width: 600px;
          height: 600px;
      }
      svg{
          transform: scale(1);
      }
     
  }

/*Footer*/

#footer{
    background: #193340;
   text-align:center;
   height: 50px;
}
#github{
    padding-top:5px;;
    color: white;
    size: 25px;
}